---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

$serif-primary: 'Vollkorn', 'Libre Baskerville', 'Baskerville', 'Times New Roman', Times, serif;
$serif-smallcaps: 'Vollkorn SC', $serif-primary;
$code-color: #961b26;

html {
  font-family: $serif-primary;
  font-size: 16px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 18px;
  }
}

footer span {
  color: $default-tint;
}

code {
  font-size: 85%;
  padding: .1em .2em;
  color: $code-color;
}

pre {
  font-size: 85%;
}

.highlight {
  padding: 0.3rem 0.5rem;
}

div.highlight {
  border-left: 0.3rem solid $default-tint;
}

.container {
  width: 90%;
}

main,
footer,
.nav-container {
  width: 90%;
}

// show normal serif in post list
.catalogue {
  &-time {
    font-family: $serif-primary;
  }
}

// make abbr show it as small caps
abbr {
  font-family: $serif-smallcaps;
  text-transform: lowercase;
}

// remove padding from top of post
.post {
  padding: 0 0 2rem;

  &-info {
    font-family: $serif-primary;
    margin: 0.5em auto 1rem;

    span {
      font-style: normal;
    }
  }

  // make title smaller when the screen is small
  &-title {
    font-size: 3rem;

    @media (max-width: 600px) {
      font-size: 2rem;
    }
  }
}

// show underline under words with hover title thing
span[title], abbr[title] {
  text-decoration: underline;
  text-decoration-style: dotted;
  -webkit-text-decoration-style: dotted;
}

// add spacing under youtube embeds
.embed-container {
  margin: 0 0 1rem;
}

// same with table
table {
  margin: auto auto 1rem;
  border-bottom: 0.1em solid $default-color;
  border-top: 0.1em solid $default-color;
  border-collapse: collapse;
  border-spacing: 3rem;

  th, td {
    padding: 0.1em 1rem;
  }

  th:first-child, td:first-child {
    padding-left: 0;
  }

  th:last-child, td:last-child {
    padding-right: 0;
  }

  thead tr:last-child th {
    border-bottom: 0.1em solid $default-color;
  }

  tbody tr td {
    border-bottom: 0.05em dotted $default-tint;
  }
}

.icon-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  //justify-content: center;
  margin-left: -12px;

  @media (max-width: 600px) {
    margin-left: -8px;
  }

  div {
    width: 108px;
    height: auto;
    
    @media (max-width: 600px) {
      width: 72px;
      height: 72px;
    }

    a {
      color: $default-color;
    }

    img {
      width: 72px;
      margin: auto;
      border-radius: 5px;

      @media (max-width: 600px) {
        width: 48px;
      }
    }

    div {
      width: 100%;
      height: auto;
      text-align: center;
      font-family: $sans-serif;
      font-size: 75%;

      @media (max-width: 600px) {
        font-size: 65%;
      }
    }
  }
}

img.cc-icon {
  display: inline;
  width: 0.8em;
  margin: -0.05em -0.05em;
}

footer img.cc-icon {
  filter: invert(.5);
}

footer img.cc-icon:hover {
  filter: invert(.4) sepia(1) saturate(5) hue-rotate(175deg);
}

.post .footnotes {
  margin-top: 2rem;
  border-top: dotted 1px $shadow-color;
} 

.post p {
  hyphens: auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
