---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

$serif-primary: 'Vollkorn', 'Libre Baskerville', 'Baskerville', 'Times New Roman', Times, serif;
$serif-smallcaps: 'Vollkorn SC', $serif-primary;
$code-color: #961b26;

html {
  font-family: $serif-primary;
  font-size: 16px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 18px;
  }
}

code {
  font-size: 85%;
  padding: .1em .2em;
  color: $code-color;
}

pre {
  font-size: 85%;
}

.highlight {
  padding: 0.3rem 0.5rem;
}

div.highlight {
  border-left: 0.3rem solid $default-tint;
}

.container {
  width: 90%;
}

main,
footer,
.nav-container {
  width: 90%;
}

// show normal serif in post list
.catalogue {
  &-time {
    font-family: $serif-primary;
  }
}

// make abbr show it as small caps
abbr {
  font-family: $serif-smallcaps;
  text-transform: lowercase;
}

// remove padding from top of post
.post {
  padding: 0 0 2rem;

  &-info {
    font-family: $serif-primary;
    margin: 0.5em auto 1rem;

    span {
      font-style: normal;
    }
  }
}

// show underline under words with hover title thing
span[title], abbr[title] {
  text-decoration: underline;
  text-decoration-style: dotted;
  -webkit-text-decoration-style: dotted;
}

// add spacing under youtube embeds
.embed-container {
  margin: 0 0 1rem;
}

// same with table
table {
  margin: auto auto 1rem;
  border-bottom: 0.1em solid $default-color;
  border-top: 0.1em solid $default-color;
  border-collapse: collapse;
  border-spacing: 3rem;

  th, td {
    padding: 0.1em 1rem;
  }

  th:first-child, td:first-child {
    padding-left: 0;
  }

  th:last-child, td:last-child {
    padding-right: 0;
  }

  thead tr:last-child th {
    border-bottom: 0.1em solid $default-color;
  }

  tbody tr td {
    border-bottom: 0.05em dotted $default-tint;
  }
}
